@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Rowdies;
  src: url("../fonts/Rowdies-Regular.ttf");
}
body {
  margin: 0;
  color: var(--dog-landing-3-c4);
  background: var(--dog-landing-3-background);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 22px;
    font-weight: 400;
    line-height: 155%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: inherit;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --dog-landing-3-background: #fff;
  --dog-landing-3-s1: #ff9f0e;
  --dog-landing-3-s2: #fcb62a;
  --dog-landing-3-c3: #fffaf3;
  --dog-landing-3-c4: #181817;
  --dog-landing-3-c5: #f1f3ff;
  --dog-landing-3-c6: #839aa9;
  --dog-landing-3-s8: #f9f9ff;
  --dog-landing-3-c9: #d9a6ff;
  --dog-landing-3-c10: #ff6e9f;
  --font-family: Roboto;
  --second-family: Rowdies;
}

.logo {
  display: flex;
  align-items: center;
  font-family: var(--second-family);
  text-transform: uppercase;
  color: var(--dog-landing-3-s1);
}
.logo__text-big {
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .logo__text-big {
    font-size: 32px;
  }
}
.logo__text-little {
  font-weight: 300;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .logo__text-little {
    font-size: 24px;
  }
}
.logo__icon {
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .logo__icon {
    width: 43px;
    height: 43px;
  }
}

.services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 240px;
  height: 240px;
  border: 1px solid var(--dog-landing-3-s8);
  border-radius: 16px;
  box-shadow: 0 4px 4px 0 rgba(24, 24, 23, 0.05);
  background: linear-gradient(180deg, #fff 0%, #fffbf4 100%);
}
.services-card__img {
  margin-bottom: 24px;
}
.services-card__link {
  color: var(--dog-landing-3-s1);
}
.services-card__link.more {
  padding-top: 216px;
  font-size: 18px;
}

.services-cards {
  width: 100%;
  display: flex;
  animation: 15s infinite slider;
}
@media screen and (min-width: 768px) {
  .services-cards {
    animation: none;
    gap: 24px;
  }
}

.slider-container {
  overflow: hidden;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .slider-container {
    width: 100%;
  }
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  22% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-100%);
  }
  42% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-200%);
  }
  62% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-300%);
  }
  82% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-400%);
  }
}
.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--dog-landing-3-c4);
  text-align: center;
  line-height: normal;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 56px;
    margin-bottom: 48px;
  }
}

.contact-form {
  /* background-color: var(--beauty-landing-2-c1); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contact-form {
    width: 600px;
  }
}
.contact-form__title {
  margin-bottom: 42px;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--dog-landing-3-c6);
}
.contact-form__input {
  margin-bottom: 24px;
  width: 100%;
  height: 48px;
  background-color: inherit;
  color: var(--dog-landing-3-s1);
  padding: 8px 80px;
  border: 1.5px solid var(--dog-landing-3-s1);
  border-radius: 8px;
}
.contact-form__input:focus {
  outline: none;
  color: black;
}
.contact-form__input::-moz-placeholder {
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.05em;
  color: var(--dog-landing-3-s1);
}
.contact-form__input::placeholder {
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.05em;
  color: var(--dog-landing-3-s1);
}
.contact-form__input.footer-input {
  margin-bottom: 16px;
  height: 40px;
  padding: 8px 56px;
}
.contact-form__input.without-icon {
  padding: 8px 24px;
}
.contact-form__button {
  border-radius: 8px;
  padding: 16px 32px;
  width: 151px;
  background: var(--dog-landing-3-s1);
  color: var(--dog-landing-3-c3);
  margin-bottom: 16px;
}
.contact-form__button.footer-button {
  padding: 8px 24px;
  border-radius: 4px;
}
.contact-form__agree {
  line-height: 150%;
  text-align: center;
  color: var(--dog-landing-3-c6);
  font-size: 12px;
}
.contact-form__field {
  position: relative;
  width: inherit;
}
.contact-form__icon {
  position: absolute;
  top: 8px;
  left: 40px;
}
.contact-form__icon.footer-icon {
  left: 24px;
}

.accept {
  position: relative;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  line-height: 150%;
  text-align: center;
  color: var(--dog-landing-3-c6);
  font-size: 12px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accept > a {
  color: var(--dog-landing-3-c6);
}

.accept-icon {
  margin-right: 7px;
}

.accept-icon-ch {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .accept-icon-ch {
  opacity: 1;
}

.accept-icon-unch {
  position: absolute;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked ~ .accept-icon-unch {
  opacity: 0;
}

#slider {
  /* положение слайдера */
  position: relative;
  text-align: center;
  top: 10px;
  margin: 0 auto;
}

#slides .happy-customers__card {
  /* все изображения справа друг от друга */
  float: left;
}

#slides .happy-customers__cards {
  /* устанавливает общий размер блока с изображениями */
  width: 100%;
  display: flex;
  gap: 16px;
  line-height: 0;
}

#overflow {
  /* скрывает всё, что находиться за пределами этого блока */
  width: 100%;
  overflow: hidden;
}

.happy-customers__card {
  /* размер изображений слайдера */
  position: relative;
  display: block;
  min-width: 320px;
  height: 416px;
  overflow: hidden;
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  .happy-customers__card {
    min-width: 344px;
    height: 456px;
    border-radius: 24px;
  }
}

#slider {
  /* размер всего слайдера */
  max-width: 320px;
}
@media screen and (min-width: 768px) {
  #slider {
    max-width: 1064px;
  }
}

/* настройка положения и переключения левой стрелки */
/* если свитч 1-5 активны, то идёт обращение к лейблу из блока с айди контролс */
#switch1:checked ~ #controls label:nth-child(6),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4),
#switch6:checked ~ #controls label:nth-child(5) {
  display: none;
}
@media screen and (min-width: 768px) {
  #switch1:checked ~ #controls label:nth-child(6),
  #switch2:checked ~ #controls label:nth-child(1),
  #switch3:checked ~ #controls label:nth-child(2),
  #switch4:checked ~ #controls label:nth-child(3),
  #switch5:checked ~ #controls label:nth-child(4),
  #switch6:checked ~ #controls label:nth-child(5) {
    background: url("../images/left-arrow.png") no-repeat;
    float: left;
    margin: 0 0 0 -104px;
    display: block;
    height: 44px;
    width: 44px;
  }
}

/* настройка положения и переключения правой стрелки */
/* если свитч 1-5 активны, то идёт обращение к лейблу из блока с айди контролс */
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(6),
#switch6:checked ~ #controls label:nth-child(1) {
  display: none;
}
@media screen and (min-width: 768px) {
  #switch1:checked ~ #controls label:nth-child(2),
  #switch2:checked ~ #controls label:nth-child(3),
  #switch3:checked ~ #controls label:nth-child(4),
  #switch4:checked ~ #controls label:nth-child(5),
  #switch5:checked ~ #controls label:nth-child(6),
  #switch6:checked ~ #controls label:nth-child(1) {
    background: url("../images/right-arrow.png") no-repeat;
    float: right;
    margin: 0 -104px 0 0;
    display: block;
    height: 44px;
    width: 44px;
  }
}

label,
a {
  /* при наведении на стрелки или переключатели - курсор изментится */
  cursor: pointer;
}

.all input {
  /* скрывает стандартные инпуты (чекбоксы) на стрвнице */
  display: none;
}

/* позиция изображения для активации переключателя */
#switch1:checked ~ #slides .happy-customers__cards {
  transform: translateX(0);
}

#switch2:checked ~ #slides .happy-customers__cards {
  transform: translateX(-105%);
}
@media screen and (min-width: 768px) {
  #switch2:checked ~ #slides .happy-customers__cards {
    transform: translateX(-34%);
  }
}

#switch3:checked ~ #slides .happy-customers__cards {
  transform: translateX(-210%);
}
@media screen and (min-width: 768px) {
  #switch3:checked ~ #slides .happy-customers__cards {
    transform: translateX(-68%);
  }
}

#switch4:checked ~ #slides .happy-customers__cards {
  transform: translateX(-315%);
}
@media screen and (min-width: 768px) {
  #switch4:checked ~ #slides .happy-customers__cards {
    transform: translateX(-100%);
  }
}

#switch5:checked ~ #slides .happy-customers__cards {
  transform: translateX(-420%);
}
@media screen and (min-width: 768px) {
  #switch5:checked ~ #slides .happy-customers__cards {
    transform: translateX(-134%);
  }
}

#switch6:checked ~ #slides .happy-customers__cards {
  transform: translateX(-525%);
}
@media screen and (min-width: 768px) {
  #switch6:checked ~ #slides .happy-customers__cards {
    transform: translateX(-167%);
  }
}

#controls {
  /* положение блока всех управляющих елементов */
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}

#active label {
  /* стиль отдельного переключателя */
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #bbb;
}

#active {
  /* расположение блока с переключателями */
  margin: 23% 0 0;
  text-align: center;
}

#active label:hover {
  /* поведение чекбокса при наведении */
  background: #76c8ff;
  border-color: #777 !important;
}

/* цвет активного лейбла при активации чекбокса */
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
  background: #18a3dd;
  border-color: #18a3dd !important;
  width: 30px;
}

#slides .happy-customers__cards {
  /* анимация пролистывания изображений */
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#controls label:hover {
  opacity: 0.6;
}

#controls label {
  transition: opacitty 0.2s ease-out;
}

.container {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 100px;
  }
}

.usually-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.05em;
  color: var(--dog-landing-3-c4);
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .usually-text {
    font-size: 22px;
    line-height: 155%;
  }
}

.section {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 96px;
  }
}

.button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: var(--dog-landing-3-s1);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 8px 24px;
  color: var(--dog-landing-3-background);
}
@media screen and (min-width: 768px) {
  .button {
    font-weight: 700;
    border-radius: 8px;
    padding: 16px 32px;
  }
}
.button:hover, .button:focus {
  box-shadow: inset 0px 10px 11px -4px rgba(0, 0, 0, 0.6);
}

.contact-btn {
  display: none;
  width: 126px;
}
@media screen and (min-width: 768px) {
  .contact-btn {
    display: block;
    width: 152px;
  }
}

.explore-btn {
  width: 143px;
}
@media screen and (min-width: 768px) {
  .explore-btn {
    width: 171px;
  }
}

.buy-btn {
  width: 75px;
}
@media screen and (min-width: 768px) {
  .buy-btn {
    width: 95px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 0.5;
}

.social-conteiner {
  display: flex;
  gap: 8px;
}

.social-button {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .social-button {
    width: 40px;
    height: 40px;
  }
}

.sorting__desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .sorting__desktop {
    display: flex;
    justify-content: space-between;
  }
}
.sorting__mobile {
  display: flex;
  gap: 4px;
}
.sorting__mobile > button {
  display: flex;
  justify-content: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.sorting__mobile > button .down {
  transform: rotate(180deg);
}
@media screen and (min-width: 768px) {
  .sorting__mobile {
    display: none;
  }
}

.sorting-title {
  color: var(--dog-landing-3-s1);
}

.sorting-label {
  display: inline-block;
  color: var(--dog-landing-3-s1);
  margin-right: 16px;
}

.bd-example::after {
  display: block;
  clear: both;
  content: "";
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.btn-group > .btn {
  position: relative;
  flex: 1 1 auto;
  border: 1px solid var(--dog-landing-3-c6);
  padding: 8px;
  font-size: 16px;
}

/* .btn-group > :first-child{
border-radius: 2px 0 0 2px;
} */
.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn.active,
.btn-group > .btn:active,
.btn-group > .btn:focus,
.btn-group > .btn:hover {
  z-index: 1;
}

.btn-check:checked + .btn,
.btn.active,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: white;
  background-color: var(--dog-landing-3-s1);
}

.btn-group > .btn-group:not(:first-child),
.btn-group > :not(.btn-check:first-child) + .btn {
  margin-left: -1px;
}

.header {
  display: flex;
  padding: 16px 20px;
  margin-bottom: 32px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 32px 108px;
    margin-bottom: 72px;
  }
}
.header__menu {
  font-size: 16px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    font-size: 18px;
    gap: 48px;
  }
}
.header__link {
  color: var(--dog-landing-3-c4);
}
.header__link:hover, .header__link:focus {
  color: var(--dog-landing-3-s1);
}
.header__button {
  display: flex;
}

.basket {
  border: none;
  background: inherit;
  cursor: pointer;
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .basket {
    margin-right: 24px;
  }
}

.basket-icon {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .basket-icon {
    width: 40px;
    height: 40px;
  }
}

.burger-btn {
  border: none;
  background: inherit;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.hero {
  display: flex;
  position: relative;
  padding: 0 0 65px 0;
}
.hero::before {
  position: absolute;
  content: "";
  top: 80px;
  left: 20px;
  background-image: url("../images/hero-dog1.png"), url("../images/hero-dog2.png"), url("../images/hero-dog3.png"), url("../images/hero-curve.svg"), url("../images/violet-paw.svg"), url("../images/orange-paw.svg"), url("../images/pink-paw.svg");
  background-position: 220px 115px, 110px 160px, 0 114px, 90px 30px, 250px 0, 30px 150px, 180px 154px;
  background-size: 24px 24px, 24px 24px, 24px 24px, 24px 24px, 16px 16px, 16px 16px, 16px 16px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .hero::before {
    top: -60px;
    background-position: 1132px 200px, 480px 280px, 690px 60px, 390px 0px, 590px 140px, 510px 400px, 1160px 310px;
    background-size: 48px 48px, 48px 48px, 48px 48px, 64px 48px, 42px 42px, 42px 42px, 42px 42px;
  }
}
.hero::after {
  content: "";
  position: absolute;
  top: -60px;
  right: -270px;
  z-index: -2;
  background-image: url("../images/hero-vector-mob.svg");
  background-repeat: no-repeat;
  width: 625px;
  height: 323px;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .hero::after {
    background-image: url("../images/hero-vector.svg");
    width: 1563px;
    height: 808px;
    top: -150px;
    right: -150px;
  }
}
.hero__content {
  margin-right: 65px;
}
.hero__title {
  text-align: center;
  font-size: 32px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 72px;
    text-align: left;
    max-width: 635px;
    margin-bottom: 40px;
  }
}
.hero__text {
  text-align: center;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    max-width: 498px;
    margin-bottom: 24px;
  }
}
.hero__btn {
  margin: 0 auto;
  display: flex;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    display: block;
  }
}
.hero__mask {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__mask {
    display: block;
    margin-top: 22px;
    /* position: relative;
    overflow: hidden;
    width: 506px;
    height: 516px;
    background-image: url("../images/hero-dog1.png"),
      url("../images/hero-dog2.png"), url("../images/hero-dog3.png");

    background-position: 0 0, 10px 20px, 40px 70px;
    background-repeat: no-repeat; */
  }
}
.hero__image {
  width: 506px;
  height: 516px;
}

.footer {
  position: relative;
  padding: 122px 20px 40px 20px;
}
.footer::before {
  position: absolute;
  top: 0;
  left: calc(50vw - 64px);
  content: "";
  width: 128px;
  height: 146px;
  background: url("../images/footer-dog.png");
  background-repeat: no-repeat;
  background-size: 128px 146px;
}
@media screen and (min-width: 768px) {
  .footer::before {
    width: 292px;
    height: 306px;
    background-size: 292px 306px;
    left: calc(100vw - 392px);
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 32px 0 32px 100px;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 14px;
  background-color: var(--dog-landing-3-c3);
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding-top: 14px;
    gap: 136px;
    flex-direction: row;
    align-items: start;
  }
}
.footer__logo {
  width: 192px;
}
.footer__logo > .logo {
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__logo > .logo {
    margin-bottom: 24px;
  }
}
.footer__soc {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__soc {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .footer__soc-mobile {
    display: none;
  }
}
.footer__soc-icon {
  margin-right: 8px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .footer__menu {
    align-items: start;
  }
}
.footer__link {
  color: var(--dog-landing-3-c4);
}
.footer__link:hover, .footer__link:focus {
  color: var(--dog-landing-3-s1);
}
.footer__form {
  width: 320px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products__lot {
  width: 288px;
  height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* p {
    font-size: 16px;
  } */
}
.products__lot img {
  height: 288px;
  -o-object-fit: contain;
     object-fit: contain;
}
.products__preview {
  padding: 0 16px;
  font-size: 16px;
  text-align: center;
  color: var(--dog-landing-3-c4);
  margin-bottom: 24px;
  line-height: 18.75px;
}

.stars-and-code {
  display: flex;
  justify-content: start;
  margin-bottom: 16px;
}
.stars-and-code__code {
  font-size: 14px;
  text-align: center;
  color: var(--dog-landing-3-c6);
  line-height: 16.41px;
  margin-right: 16px;
}
.stars-and-code div {
  display: flex;
}
.stars-and-code__star {
  gap: 8px;
}

.price {
  margin-bottom: 24px;
}

.new-price {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--dog-landing-3-c4);
  line-height: 21.09px;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  text-align: center;
  color: var(--dog-landing-3-c6);
  line-height: 16.41px;
}

.contact-us {
  position: relative;
}
@media screen and (min-width: 768px) {
  .contact-us::after {
    position: absolute;
    top: -150px;
    left: -108px;
    width: 125%;
    height: 752px;
    background-image: url(../images/contact-left-dog.png), url(../images/contact-right-dog.png);
    z-index: -2;
    background-position: 30px 192px, calc(100vw - 322px) 0;
    background-size: 353px 520px, 322px 752px;
    background-repeat: no-repeat;
    content: "";
  }
}
.contact-us__content {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contact-us__content {
    width: 600px;
  }
}
.contact-us__title {
  margin-bottom: 16px;
}

.preview {
  display: flex;
  background: url("../images/video.png");
  background-repeat: no-repeat;
  background-position: 330px 50px;
  background-size: 160px 124px;
}
.preview__title {
  text-align: left;
}
.preview__image {
  display: none;
}
@media screen and (min-width: 768px) {
  .preview__image {
    display: block;
    padding: 60px 0 0;
    width: 540px;
    height: 580px;
    margin-right: 84px;
    background: url(../images/preview-left-paw.svg), url(../images/preview-top-paw.svg), url(../images/preview-right-paw.svg), url(../images/preview-vector.svg);
    background-repeat: no-repeat;
    background-position: 60px 280px, 190px 0, 420px 200px, 0 0;
    z-index: -1;
  }
}

.happy-customers {
  margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
  .happy-customers {
    margin-bottom: 168px;
  }
}
.happy-customers__image {
  width: 100%;
  height: 100%;
}
.happy-customers__card-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
  color: var(--dog-landing-3-background);
}
.happy-customers__text {
  font-size: 16px;
  color: var(--dog-landing-3-c5);
  margin-bottom: 24px;
}

.content-container {
  position: absolute;
  width: 100%;
  padding: 16px 0;
  line-height: normal;
  left: 0;
  bottom: 0;
  height: 130px;
  background-color: var(--dog-landing-3-c6);
  text-align: center;
}

.rating {
  display: flex;
  justify-content: space-between;
  width: 258px;
  margin-left: auto;
  margin-right: auto;
}
.rating__text {
  font-size: 16px;
  color: #fa0;
}

.accent-bone {
  fill: #ffaa00;
}

.empty-bone {
  fill: #f1f3ff;
}/*# sourceMappingURL=main.css.map */