*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Rowdies;
  src: url("../fonts/Rowdies-Regular.ttf");
}
body {
  margin: 0;
  color: var(--dog-landing-3-c4);
  background: var(--dog-landing-3-background);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 22px;
    font-weight: 400;
    line-height: 155%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --dog-landing-3-background: #fff;
  --dog-landing-3-s1: #ff9f0e;
  --dog-landing-3-s2: #fcb62a;
  --dog-landing-3-c3: #fffaf3;
  --dog-landing-3-c4: #181817;
  --dog-landing-3-c5: #f1f3ff;
  --dog-landing-3-c6: #839aa9;
  --dog-landing-3-s8: #f9f9ff;
  --dog-landing-3-c9: #d9a6ff;
  --dog-landing-3-c10: #ff6e9f;
  --font-family: Roboto;
  --second-family: Rowdies;
}

.logo {
  display: flex;
  align-items: center;
  font-family: var(--second-family);
  text-transform: uppercase;
  color: var(--dog-landing-3-s1);
}
.logo__text-big {
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .logo__text-big {
    font-size: 32px;
  }
}
.logo__text-little {
  font-weight: 300;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .logo__text-little {
    font-size: 24px;
  }
}
.logo__icon {
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .logo__icon {
    width: 43px;
    height: 43px;
  }
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: var(--dog-landing-3-c4);
  text-align: center;
  line-height: normal;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 56px;
  }
}

.container {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 108px;
  }
}

.usually-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.05em;
  color: var(--dog-landing-3-c4);
}
@media screen and (min-width: 768px) {
  .usually-text {
    font-size: 22px;
    line-height: 155%;
  }
}

.button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: var(--dog-landing-3-s1);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--dog-landing-3-background);
}
@media screen and (min-width: 768px) {
  .button {
    font-weight: 700;
    border-radius: 8px;
  }
}
.button:hover, .button:focus {
  box-shadow: inset 0px 10px 11px -4px rgba(0, 0, 0, 0.6);
}

.contact-btn {
  display: none;
  padding: 8px 24px;
  width: 126px;
}
@media screen and (min-width: 768px) {
  .contact-btn {
    display: block;
    padding: 16px 32px;
    width: 152px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 0.5;
}

.social-conteiner {
  display: flex;
  gap: 8px;
}

.social-button {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .social-button {
    width: 40px;
    height: 40px;
  }
}

.header {
  display: flex;
  padding: 16px 20px;
  margin-bottom: 32px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 32px 108px;
    margin-bottom: 72px;
  }
}
.header__menu {
  font-size: 16px;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    font-size: 18px;
    gap: 48px;
  }
}
.header__link {
  color: var(--dog-landing-3-c4);
}
.header__link:hover, .header__link:focus {
  color: var(--dog-landing-3-s1);
}
.header__button {
  display: flex;
}

.basket {
  border: none;
  background: inherit;
  cursor: pointer;
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .basket {
    margin-right: 24px;
  }
}

.basket-icon {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .basket-icon {
    width: 40px;
    height: 40px;
  }
}

.burger-btn {
  border: none;
  background: inherit;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.hero__title {
  text-align: center;
  font-size: 32px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 72px;
    text-align: left;
    max-width: 635px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    max-width: 498px;
    margin-bottom: 24px;
  }
}

.preview__title {
  text-align: left;
}/*# sourceMappingURL=main.css.map */