*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: Rowdies;
  src: url('../fonts/Rowdies-Regular.ttf');
}
body {
  margin: 0;
  color: var(--dog-landing-3-c4);
  background: var(--dog-landing-3-background);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    font-weight: 400;
    line-height: 155%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
