.contact-us {
  position: relative;
  @media screen and (min-width: 768px) {
    &::after {
      position: absolute;
      top: -150px;
      left: -108px;
      width: 125%;
      height: 752px;
      background-image: url(../images/contact-left-dog.png),
        url(../images/contact-right-dog.png);
      z-index: -2;
      background-position: 30px 192px, calc(100vw - 322px) 0;
      background-size: 353px 520px, 322px 752px;
      background-repeat: no-repeat;
      content: "";
    }
  }

  &__content {
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      width: 600px;
    }
  }
  &__title {
    margin-bottom: 16px;
  }
}
