.footer {
  padding: 14px 20px 40px 20px;
  background: url("../images/footer-dog.png"), var(--dog-landing-3-c3);
  background-repeat: no-repeat;
  background-size: 128px 146px;
  background-position: calc(50% + 64px) 0; 
  @media screen and (min-width:768px) {
    padding: 32px 0 32px 100px;
    background-size: 292px 306px;
  background-position: calc(100% - 120px) 0; 
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    @media screen and (min-width:768px) {
      gap: 136px;
      flex-direction: row; 
     align-items: start;
    }
  }
  &__logo {
    width: 192px;
    & > .logo {
      margin-bottom: 24px;
      justify-content: center;
    }
  }
  &__soc{
    display: none;
    @media screen and (min-width:768px) {
      display: block;
    }

  }

  &__soc-mobile{
    @media screen and (min-width:768px) {
      display: none;
    }
  }
  &__soc-icon {
    margin-right: 8px;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    @media screen and (min-width:768px) {
      align-items: start;
    }
  }
  &__link {
    color: var(--dog-landing-3-c4);
    &:hover,
    &:focus {
      color: var(--dog-landing-3-s1);
    }
  }
  &__form {
    width: 320px;
  }
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
