.footer {
  position: relative;
  padding: 122px 20px 40px 20px;
  &::before {
    position: absolute;
    top: 0;
    left: calc(50vw - 64px);
    content: "";
    width: 128px;
    height: 146px;
    background: url("../images/footer-dog.png");
    background-repeat: no-repeat;
    background-size: 128px 146px;

    @media screen and (min-width: 768px) {
      width: 292px;
      height: 306px;
      background-size: 292px 306px;
      left: calc(100vw - 392px);
    }
  }
  @media screen and (min-width: 768px) {
    padding: 32px 0 32px 100px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 14px;
    background-color: var(--dog-landing-3-c3);
    @media screen and (min-width: 768px) {
      padding-top: 14px;
      gap: 136px;
      flex-direction: row;
      align-items: start;
    }
  }
  &__logo {
    width: 192px;
    & > .logo {
      justify-content: center;
      @media screen and (min-width: 768px) {
        margin-bottom: 24px;
      }
    }
  }
  &__soc {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__soc-mobile {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  &__soc-icon {
    margin-right: 8px;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    @media screen and (min-width: 768px) {
      align-items: start;
    }
  }
  &__link {
    color: var(--dog-landing-3-c4);
    &:hover,
    &:focus {
      color: var(--dog-landing-3-s1);
    }
  }
  &__form {
    width: 320px;
  }
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
