.happy-customers{

    &__title{

    }
    &__cards{
        display: flex;
    }
    &__card{
       position: relative;
        width: 320px;
       height: 416px;
       border-radius: 16px;
       @media screen and (min-width:768px) {
        width: 344px;
        height: 456px;
        border-radius: 24px;
       } 
    }
    &__image{}
    &__card-title{}
    &__text{}

}
.content-container{
    position: absolute;
    background-color: var(--dog-landing-3-c6);
}