.preview {
  display: flex;
  background: url("../images/video.png");
  background-repeat: no-repeat;
  background-position: 330px 50px;
  background-size: 160px 124px;
  &__title {
    text-align: left;
  }
  &__image {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      padding: 60px 0 0;
      width: 540px;
      height: 580px;
      margin-right: 84px;
      background: url(../images/preview-left-paw.svg),
        url(../images/preview-top-paw.svg), url(../images/preview-right-paw.svg),
        url(../images/preview-vector.svg);
      background-repeat: no-repeat;
      background-position: 60px 280px, 190px 0, 420px 200px, 0 0;
      z-index: -1;
    }
  }
}
