.button {
  border-radius: 4px;
  border:none;
  cursor: pointer;
  background: var(--dog-landing-3-s1);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--dog-landing-3-background);
  @media screen and (min-width: 768px) {
    font-weight: 700;
    border-radius: 8px;
  }
  &:hover,
  &:focus{
    box-shadow: inset 0px 10px 11px -4px rgba(0,0,0,0.6);
  }
}
.contact-btn {
  display: none;
padding: 8px 24px;
width: 126px;
  @media screen and (min-width: 768px) {
    display: block;
    padding: 16px 32px;
    width: 152px;
    
  }
}
