.contact-form{
  /* background-color: var(--beauty-landing-2-c1); */
  border-radius: 32px;
  padding: 42px 24px;
  display: flex;
  flex-direction: column;
  width: 320px;
  @media screen and (min-width: 768px) {
    padding: 48px 56px;
    width: 422px;
  }
  &__title {
    margin-bottom: 24px;
  }

  &__input {
    margin-bottom: 16px;
    background-color: inherit;
    color: var(--dog-landing-3-s1);
    padding: 16px 24px;
    border: 1.5px solid var(--dog-landing-3-s1);
    border-radius: 24px;
    &:focus {
      outline: none;
    }
  }

  &__button {
    margin-bottom: 8px;
    background: var(--dog-landing-3-s1);
    color: var(--dog-landing-3-c3);
  }

  &__agree {
    line-height: 150%;
    text-align: center;
    color: var(--dog-landing-3-c6);
    font-size: 12px;
  }
}
