.contact-form {
  /* background-color: var(--beauty-landing-2-c1); */
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 600px;
  }
  &__title {
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--dog-landing-3-c6);
  }

  &__input {
    margin-bottom: 24px;
    width: 100%;
    height: 48px;
    background-color: inherit;
    color: var(--dog-landing-3-s1);
    padding: 8px 40px;
    border: 1.5px solid var(--dog-landing-3-s1);
    border-radius: 8px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: 18px;
      line-height: 133%;
      letter-spacing: 0.05em;
      color: var(--dog-landing-3-s1);
      padding-left: 40px;
    }
  }

  &__button {
    border-radius: 8px;
    padding: 16px 32px;
    width: 151px;
    height: 53px;
    background: var(--dog-landing-3-s1);
    color: var(--dog-landing-3-c3);
  }

  &__agree {
    line-height: 150%;
    text-align: center;
    color: var(--dog-landing-3-c6);
    font-size: 12px;
  }
  &__field {
    position: relative;
    width: inherit;
  }
  &__icon {
    position: absolute;
    top: 8px;
    left: 40px;
  }
}
