.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  overflow-y: auto;
  background-color: rgba(24, 24, 23, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  @media screen and (min-width: 768px) {
    &__content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      border-radius: 32px;
      width: 880px;
      height: 880px;
      background: var(--dog-landing-3-c3);
      padding: 142px 138px;

      .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.8);
      }
    }

    &__close {
      width: 32px;
      height: 32px;
      background-color: inherit;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 40px;
      right: 40px;
    }
  }
}
