#slider {
  /* положение слайдера */
  position: relative;
  text-align: center;
  top: 10px;
  margin: 0 auto;
}
#slides .happy-customers__card {
  /* все изображения справа друг от друга */

  float: left;
}
#slides .happy-customers__cards {
  /* устанавливает общий размер блока с изображениями */
  width: 100%;
  display: flex;
  gap: 16px;
  line-height: 0;
}
#overflow {
  /* скрывает всё, что находиться за пределами этого блока */
  width: 100%;
  overflow: hidden;
}
.happy-customers__card {
  /* размер изображений слайдера */
  position: relative;
  display: block;
  min-width: 320px;
  height: 416px;
  overflow: hidden;
  border-radius: 16px;
  @media screen and (min-width: 768px) {
    min-width: 344px;
    height: 456px;
    border-radius: 24px;
  }
}
#slider {
  /* размер всего слайдера */
  max-width: 320px;
  @media screen and (min-width: 768px) {
    max-width: 1064px;
  }
}
/* настройка положения и переключения левой стрелки */
/* если свитч 1-5 активны, то идёт обращение к лейблу из блока с айди контролс */
#switch1:checked ~ #controls label:nth-child(6),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4),
#switch6:checked ~ #controls label:nth-child(5) {
  display: none;
  @media screen and (min-width: 768px) {
    background: url("../images/left-arrow.png") no-repeat;
    float: left;
    margin: 0 0 0 -104px;
    display: block;
    height: 44px;
    width: 44px;
  }
}
/* настройка положения и переключения правой стрелки */
/* если свитч 1-5 активны, то идёт обращение к лейблу из блока с айди контролс */
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(6),
#switch6:checked ~ #controls label:nth-child(1) {
  display: none;
  @media screen and (min-width: 768px) {
    background: url("../images/right-arrow.png") no-repeat;
    float: right;
    margin: 0 -104px 0 0;
    display: block;
    height: 44px;
    width: 44px;
  }
}
label,
a {
  /* при наведении на стрелки или переключатели - курсор изментится */
  cursor: pointer;
}
.all input {
  /* скрывает стандартные инпуты (чекбоксы) на стрвнице */
  display: none;
}
/* позиция изображения для активации переключателя */
#switch1:checked ~ #slides .happy-customers__cards {
  transform: translateX(0);
}
#switch2:checked ~ #slides .happy-customers__cards {
  @media screen and (min-width: 768px) {
    transform: translateX(-34%);
  }
  transform: translateX(-105%);
}
#switch3:checked ~ #slides .happy-customers__cards {
  transform: translateX(-210%);
  @media screen and (min-width: 768px) {
    transform: translateX(-68%);
  }
}
#switch4:checked ~ #slides .happy-customers__cards {
  transform: translateX(-315%);
  @media screen and (min-width: 768px) {
    transform: translateX(-100%);
  }
}
#switch5:checked ~ #slides .happy-customers__cards {
  transform: translateX(-420%);
  @media screen and (min-width: 768px) {
    transform: translateX(-134%);
  }
}
#switch6:checked ~ #slides .happy-customers__cards {
  transform: translateX(-525%);
  @media screen and (min-width: 768px) {
    transform: translateX(-167%);
  }
}
#controls {
  /* положение блока всех управляющих елементов */
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}
#active label {
  /* стиль отдельного переключателя */
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #bbb;
}
#active {
  /* расположение блока с переключателями */
  margin: 23% 0 0;
  text-align: center;
}
#active label:hover {
  /* поведение чекбокса при наведении */
  background: #76c8ff;
  border-color: #777 !important;
}
/* цвет активного лейбла при активации чекбокса */
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
  background: #18a3dd;
  border-color: #18a3dd !important;
  width: 30px;
}
#slides .happy-customers__cards {
  /* анимация пролистывания изображений */
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}
#controls label:hover {
  opacity: 0.6;
}
#controls label {
  transition: opacitty 0.2s ease-out;
}
