.usually-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.05em;
  color: var(--dog-landing-3-c4);
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 155%;
  }
}
